@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
}

@layer base {
  /* body {
    background-color: var(--color-amber-50);
  } */
}

body {
  @apply bg-amber-100/50 text-stone-600 flex justify-center;
}

@layer components {
  .header h1 {
    text-align: center;
    position: relative;
    display: inline-block;

    line-height: 0.7em;
    min-height: 1.2em;
    border-radius: 0.5rem;
  }
  .header h1::before,
  .header h1::after {
    content: "";
    height: 3px;
    width: 3rem;
    background-color: #57534e;
    position: absolute;
    top: calc(50% - 1px);
  }
  .header h1::before {
    left: 100%;
    margin-left: 1rem;
  }
  .header h1::after {
    right: 100%;
    margin-right: 1rem;
  }
  .sold-out {
    color: #a8a29e;
  }
  .sold-out img {
    filter: grayscale();
    opacity: 0.75;
  }
}
